RewriteEngine On
Options All -Indexes
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond ${REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /sistema_academia/index.php?url=$1 [QSA,L]
#RewriteRule ^(.*)$ /index.php?url=$1 [QSA,L]