.card-info{
  max-width: 800px;
}

.div-cont{
  max-width: 800px;
  justify-content: space-between;
}

.conteiner-form{
  width: 400px;
}

label{
  font-weight: bold;
}

.inputCaixa1{
  height: 60px;
}

@media(max-width: 780px){
  .card-info{
    width: 100%;
  }
  
  .div-cont{
    min-width: 100%;
    justify-content: center;
  }

  .conteiner-form{
    width: 100%;
  }

  .div-table{
    width: 100%;
  }
}
