main{
  margin: auto;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; 
  align-content: center;
}

#accordionExample{
  width: 800px;
}

@media(max-width: 800px){
  
  #accordionExample{
    width: 300px;
  }
}