.card-av{
  background-image: linear-gradient(135deg, #f8f9fa 70%, #ced4da 30%);
  background-repeat: no-repeat;
  width: 315px;
  margin: 5px;
}

@media(max-width: 1295px){
  .card-av{
    width: 45%;
    margin: 5px;
  }  
}

@media(max-width: 575px){
  .card-av{
    min-width: 100%;
    margin: 5px;
  }  
}

